.content-container{
  font-family: 'Space Grotesk', sans-serif;
  width: 100%;
  height: 55rem;
  display: grid;
  grid-template-columns: 30% 70%;
}
.cardImage{
  position: absolute;
  background-repeat: no-repeat;
  width: 30%;
  background-size: contain;
  height: 20rem;
}
#cardFront{
  background-image: url(../images/bg-card-front.png);
  margin-top: 11.5%;
  margin-left: 12.5%;
  display: grid;
  grid-template-rows: 15% 10%;
  padding: 2rem;
  width: 24%;
}
#cardFront #cardNumber{
  font-size: 1.45rem;
  color: white;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin-top: 5rem;
}
.cardHolderDetails{
  display: grid;
  grid-template-columns: 50% 50%;
  color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 5rem;
}
.cardHolderDetails #cardExpiryMonth{
  text-align: right;
}
#cardBack{
  background-image: url(../images/bg-card-back.png);
  margin-top: 28.5%;
  margin-left: 17.5%;
}
#cardBack #cardCVV{
  margin-top: 25%;
  margin-left: 80%;
}
.hero-image-column{
  background-image: url(../images/bg-main-desktop.png);
}
.card-details-column{
  padding: 10.5rem;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  height: 35rem;
  gap: 10px;
  width: 55%;
  margin-left: auto;
}
.card-details-column label{
  color: hsl(278, 68%, 11%);
}
.nameDetailRow{
  display: grid;
  grid-template-rows: 30% 70%;
}
.cardNumberDetailRow{
  display: grid;
  grid-template-rows: 30% 70%;
}
.cardNumberDetailRow #cardNumber{
  letter-spacing: 1.25px;
}
.ExpiryCVVDetailsRow{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  width: 100%;
}
.ExpiryDetailsColumn{
  display: grid;
  grid-template-rows: 30% 70%;
}
.CVVDetailsColumn{
  display: grid;
  grid-template-rows: 30% 70%;
}
.CVVDetailsColumn #cardCVV{
  width: 82.5%;
}
.monthDetailsRow{
  display: grid;
  grid-template-columns: 50% 50%;
}
.monthDetailsRow #cardExpiryMonth{
  width: 60%;
}
.monthDetailsRow #cardExpiryYear{
  width: 60%;
}
.card-details-column input{
  letter-spacing: 1.5px;
  font-size: 16px;
  font-weight: 500;
  padding: 1rem;
  height: 1.75rem;
  border: 2px solid hsl(270, 3%, 87%);
  border-radius: 5px;
}
button{
  width: 100%;
  background-color: hsl(278, 68%, 11%);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  color: white;
  letter-spacing: 1.5px;
  font-size: 1rem;
}
.attribution { 
  margin-top: 5rem;
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
